<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
 <img src="logo.svg" style="width:200px;">
   {{{body}}}

<footer>
         <p>This is a footer in all pages</p>
</footer>

<!--footer goes here-->
</body>
</html>
